# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd 
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [4]:
chipo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv',sep='\t')

### Step 4. How many products cost more than $10.00?

In [26]:
#chipo['item_price'] = chipo['item_price'].apply(lambda x: float(x[1:]))
chipo.loc[(chipo['item_price']>10.00)]

,order_id,quantity,item_name,choice_description,item_price
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
23,12,1,Chicken Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Tomati...",10.98
...,...,...,...,...,...
4610,1830,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4611,1830,1,Veggie Burrito,"[Tomatillo Green Chili Salsa, [Rice, Fajita Ve...",11.25
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25

In [27]:
chipo.loc[(chipo['quantity']==1) & (chipo['item_price']>10.00)]

,order_id,quantity,item_name,choice_description,item_price
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
23,12,1,Chicken Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Tomati...",10.98
39,19,1,Barbacoa Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",11.75
...,...,...,...,...,...
4610,1830,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4611,1830,1,Veggie Burrito,"[Tomatillo Green Chili Salsa, [Rice, Fajita Ve...",11.25
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25

In [30]:
chipo.loc[chipo['item_price']>10.00,'item_name'].unique()

array(['Chicken Bowl', 'Steak Burrito', 'Chicken Burrito',
       'Barbacoa Bowl', 'Veggie Burrito', 'Veggie Bowl',
       'Chicken Soft Tacos', 'Steak Bowl', 'Carnitas Burrito',
       'Carnitas Bowl', 'Barbacoa Burrito', 'Chicken Salad Bowl',
       'Barbacoa Crispy Tacos', 'Veggie Salad Bowl',
       'Chicken Crispy Tacos', 'Chicken Salad', 'Steak Salad Bowl',
       'Bowl', 'Veggie Soft Tacos', 'Barbacoa Soft Tacos',
       'Carnitas Crispy Tacos', 'Carnitas Salad Bowl',
       'Barbacoa Salad Bowl', 'Chips and Fresh Tomato Salsa',
       'Steak Soft Tacos', 'Carnitas Soft Tacos', 'Steak Crispy Tacos',
       'Chips and Guacamole', '6 Pack Soft Drink', 'Bottled Water',
       'Side of Chips'], dtype=object)

In [31]:
chipo.loc[chipo['item_price']>10.00,'item_name'].nunique()

31

### Step 5. What is the price of each item? 
##### print a data frame with only two columns item_name and item_price

In [39]:
chipo.loc[chipo['quantity']==1][['item_name','item_price']].drop_duplicates().sort_values(by='item_price',ascending=False)

                  item_name  item_price
606        Steak Salad Bowl       11.89
1229    Barbacoa Salad Bowl       11.89
1132    Carnitas Salad Bowl       11.89
93         Carnitas Burrito       11.75
1008  Carnitas Crispy Tacos       11.75
...                     ...         ...
6             Side of Chips        1.69
329           Bottled Water        1.50
263       Canned Soft Drink        1.25
28              Canned Soda        1.09
34            Bottled Water        1.09

[135 rows x 2 columns]

### Step 6. Sort by the name of the item

In [40]:
chipo.loc[chipo['quantity']==1][['item_name','item_price']].drop_duplicates().sort_values(by='item_name')

              item_name  item_price
298   6 Pack Soft Drink        6.49
4510      Barbacoa Bowl       11.49
95        Barbacoa Bowl        9.25
115       Barbacoa Bowl        8.99
3195      Barbacoa Bowl        8.69
...                 ...         ...
186   Veggie Salad Bowl       11.25
960   Veggie Salad Bowl        8.75
781   Veggie Soft Tacos        8.75
1395  Veggie Soft Tacos        8.49
738   Veggie Soft Tacos       11.25

[135 rows x 2 columns]

### Step 7. What was the quantity of the most expensive item ordered?

In [46]:
chipo.loc[chipo['item_price'] == chipo['item_price'].max()]

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [52]:
chipo.groupby('item_name')['order_id'].count()['Veggie Salad Bowl']

18

In [59]:
chipo.loc[chipo['item_name']=='Veggie Salad Bowl'].shape[0]

18

### Step 9. How many times did someone order more than one Canned Soda?

In [63]:
chipo.loc[(chipo['item_name']=='Canned Soda') & (chipo['quantity']>1)].shape[0]

20